<button mat-icon-button (click)="cerrar()" style="margin-left:90%;"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Modificar Revista</h2> 

<div class="px-4 py-3">
  <h5>Nombre <button mat-icon-button (click)="editarNombre()"><mat-icon>edit</mat-icon></button></h5>
  <div class="p-4 rounded shadow-sm bg-light">
    <div class="multilinea">{{data.revista.nombre}}</div>
  </div>
</div>
<div class="px-4 py-3">
  <h5>Descripcion <button mat-icon-button (click)="editarDescripcion()"><mat-icon>edit</mat-icon></button></h5>
  <div class="p-4 rounded shadow-sm bg-light">
    <div class="multilinea">{{data.revista.descripcion}}</div>
  </div>
</div>
<div class="px-4 py-3">
  <h5>Categoria <button mat-icon-button (click)="editarCategoria()"><mat-icon>edit</mat-icon></button></h5>
  <div class="p-4 rounded shadow-sm bg-light">
    <div class="multilinea">{{data.revista.categoria}}</div>
  </div>
</div>
<div class="px-4 py-3">
  <h5>Precios de Suscripciones<button mat-icon-button (click)="editarPrecioSuscripcion()"><mat-icon>edit</mat-icon></button></h5>
  <table mat-table [dataSource]="preciosSuscripcion" class="mat-elevation-z8" style="width:100%;">

    <!-- Columna Fecha -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
    </ng-container>

    <!-- Columna Precio -->
    <ng-container matColumnDef="precio" style="margin-left:5%;">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element">  <div *ngIf="element.precio == 0"> Gratis </div> <div *ngIf="element.precio != 0"> Q.{{element.precio}}</div></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
  </table>
</div>
<div class="px-4 py-3">
  <h5>Estado de las Suscripciones <button mat-icon-button (click)="editarEstadoDeSuscripciones()"><mat-icon>edit</mat-icon></button></h5>
  <div class="p-4 rounded shadow-sm bg-light">
    <div class="multilinea">{{data.revista.estadoSuscripciones}}</div>
  </div>
</div>
