<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="login-form bg-light mt-4 p-4">
                <form [formGroup]="loginForm" class="row g-3">
                    <h4>Bienvenido a Bibliothek</h4>
                    <div class="col-12">
                        <label>Nombre de Usuario</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="col-12">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Iniciar Sesion</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">No tienes una cuenta? <a [routerLink]="['/pagina-registro']" routerLinkActive="active" >Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>