<h1 mat-dialog-title>Editar Estado Suscripciones</h1>
<div mat-dialog-content>
  <p>Ingresa los cambios a la descripcion</p>
  <mat-form-field appearance="fill" style="min-width:100%;">
    <textarea id="descripcion" matInput [(ngModel)]="data.estadoSuscripciones" cdkTextareaAutosize
              #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
              [ngClass]="{
              'is-invalid': (validez)
              }"
              required>{{data.estadoSuscripciones}}</textarea>
  </mat-form-field>
  <mat-error *ngIf="!validez">
    Debes de ingresar algo al campo
  </mat-error>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrar()">Close</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</div>
