<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-5 cover">
                <div class="media align-items-end profile-head">
                  <div class="profile mr-3"> 
                    <img src={{urlFotoPerfil}} alt="" class="perfilImg rounded mb-2 img-thumbnail">
                  </div>
                  <div class="media-body text-white">
                    <h4 class="mb-2">{{username}}</h4>
                  </div>
                  <a (click)="editarFotoDePerfil()" class="btn btn-outline-secondary btn-sm btn-block mb-5">Editar Foto de Perfil</a>
                </div>
            </div>
            <h5 class="mt-2 mb-2" style="margin-left:5%;">
              Etiquetas <!-- <button class="btn btn-outline-light" style="margin-left:3%;" (click)="editarDescripcion()"><img src="assets/images/edit-icon.svg"></button> -->
            </h5> 
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item" *ngFor="let etiqueta of etiquetas">
                      <h5 class="font-weight-bold mb-0 d-block">{{etiqueta.nombre}}</h5>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
              <h5 class="mb-0">
                Descripcion <button class="btn btn-outline-light" style="margin-left:3%;" (click)="editarDescripcion()"><img src="assets/images/edit-icon.svg"></button>
              </h5>
                <div class="p-4 rounded shadow-sm bg-light">
                  <div class="multilinea">{{descripcion}}</div>
                </div>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">
                  Hobbies <button class="btn btn-outline-light" style="margin-left:3%;" (click)="editarHobbies()"><img src="assets/images/edit-icon.svg"></button>
                </h5>
                <div class="p-4 rounded shadow-sm bg-light">
                  <div class="multilinea">{{hobbies}}</div>
                </div>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">
                  Genero <button class="btn btn-outline-light" style="margin-left:3%;" (click)="editarGenero()"><img src="assets/images/edit-icon.svg"></button>
                </h5>
                <div class="p-4 rounded shadow-sm bg-light">
                  <p class="font-italic mb-0">{{genero}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
