<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-5 cover">
                <div class="media align-items-end profile-head">
                  <div class="profile mr-3"> 
                    <img src="" class="perfilImg rounded mb-2 img-thumbnail">
                  </div>
                  <div class="media-body text-white">
                    <h4 class="mb-2">{{username}}</h4>
                  </div>
                  <a href="#" class="btn btn-outline-secondary btn-sm btn-block mb-5">Edit profile</a>
                </div>
            </div>
            <h5 class="mt-2 mb-2" style="margin-left:5%;">Etiquetas</h5>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
              <h5 class="mb-0">Descripcion</h5> <span><img src="assets/images/edit-icon.svg"/></span> 
                <div class="p-4 rounded shadow-sm bg-light">
                  <p class="font-italic mb-0">{{descripcion}}</p>
                </div>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">Hobbies</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                  <p class="font-italic mb-0">{{hobbies}}</p>
                </div>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">Genero</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                  <p class="font-italic mb-0">{{genero}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
