<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{numeroRevista.nombre}}</mat-card-title>
    <mat-card-subtitle>{{numeroRevista.fechaPublicacion}}</mat-card-subtitle>
  </mat-card-header>
  <!--
  <img mat-card-image alt="PDF Revista">
  -->
  <mat-card-content>
    <p>{{numeroRevista.descripcion}}</p>
  </mat-card-content>
  
  <a mat-raised-button href="{{pathPDF}}" target="_blank">Ver PDF</a>

  <mat-card-actions *ngIf="tipoUsuario==&quot;EDITOR&quot;">
    <button mat-stroked-button color="primary" (click)="modificarNumero()">Modificar Numero</button>
    <mat-icon color="accent" style="margin-left:1%;">favorite</mat-icon><mat-label style="margin-right:1%;">{{meGustaNumero}}</mat-label>
    <button mat-stroked-button color="accent" (click)="verComentarios()">Ver Comentarios</button>
  </mat-card-actions>

  <mat-card-actions *ngIf="tipoUsuario==&quot;SUSCRIPTOR&quot;">
    <button mat-icon-button (click)="cambiarMeGusta()" *ngIf="numeroRevista.restriccionMeGusta==&quot;PERMITIDO&quot;"><mat-icon style="margin-left:1%;">favorite</mat-icon></button>
    <mat-label *ngIf="numeroRevista.restriccionMeGusta==&quot;PERMITIDO&quot;" style="margin-right:1%;">{{meGustaNumero}}</mat-label>
    <button mat-stroked-button color="accent" (click)="comentar()" *ngIf="numeroRevista.restriccionComentarios==&quot;PERMITIDO&quot;">Comentar</button>
  </mat-card-actions>
</mat-card>
