<mat-card class="mt-3 mb-3">
  <mat-card-title>Reporte de Comentarios</mat-card-title>
  <mat-card-subtitle>Genera un reporte de los comentarios en revistas a lo largo del tiempo</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button (click)="reporteComentarios()">Configurar Reporte</button>
  </mat-card-actions>
</mat-card>
<mat-card class="mb-3">
  <mat-card-title>Reporte de Suscripciones</mat-card-title>
  <mat-card-subtitle>Genera un reporte de las suscripciones a revistas a lo largo del tiempo</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button (click)="reporteSuscripciones()">Configurar Reporte</button>
  </mat-card-actions>
</mat-card>
<mat-card class="mb-3">
  <mat-card-title>Reporte de Me Gusta</mat-card-title>
  <mat-card-subtitle>Genera un reporte de la cantidad de Me Gusta en revistas</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button (click)="reporteMeGusta()">Configurar Reporte</button>
  </mat-card-actions>
</mat-card>
<mat-card class="mb-3">
  <mat-card-title>Reporte de Ganancias</mat-card-title>
  <mat-card-subtitle>Genera un reporte de las ganancias por suscripciones a revistas</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button (click)="reporteGanancias()">Configurar Reporte</button>
  </mat-card-actions>
</mat-card>
