<div class="container mt-5">
    <div class="row">
        <h3 class="mb-3">Elige el tipo de usuario que quieres registrar:</h3>
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Lector</h5>
                <p class="card-text">Podras leer todo tipo de revistas, pudiendote suscribir a estas y apoyar a tus autores favoritos!</p>
                <a href="#" class="btn btn-primary">Registrsar Lector</a>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Editor</h5>
                <p class="card-text">Podras crear y subir cuantas revistas quieras, podras ganar dinero de suscripciones y obtener mas lectores!</p>
                <a href="#" class="btn btn-primary">Registrsar Editor</a>
              </div>
            </div>
        </div>
    </div>
</div>
