<h3 class="mt-5">Ingresa los datos para registrarte como lector</h3>
<div class="alert alert-success" *ngIf="mensajeExito">
  Te has registrado con exito, <a [routerLink]="['/login']" class="alert-link">da click aqui</a> para iniciar sesion. 
</div>
<div class="card mt-3">
    <div class="container mt-3 shadow">
        <form [formGroup]="registroForm" (ngSubmit)="registroUsuario()">                  
            <div class="mb-3">
                <span style="color:#ff0000">*</span><label for="username">Nombre de Usuario</label>
                <input type="text"  
                    [ngClass]="{
                    'form-control': true,
                    'is-invalid': (registroForm.controls.username.errors?.existe && !registroForm.controls.username.pristine)
                    }"
                    name="username" id="username" placeholder="Username" formControlName="username">
                <div class="text-danger" *ngIf="registroForm.controls.username.errors?.existe">
                    El username ya existe
                </div>
            </div>

            <div class="mb-3">
                <span style="color:#ff0000">*</span><label for="Password">Contraseña</label>
                <input type="password" class="form-control" name="password" id="Password" placeholder="Password" formControlName="password">
            </div>
            
            <div class="mb-3">
                <label for="Descripcion">Descripcion</label>
                <textarea class="form-control" id="Descripcion" rows="4" placeholder="Descripcion" formControlName="descripcion"></textarea>
            </div>

            <div class="mb-3">
                <label for="Hobbies">Hobbies</label>
                <textarea class="form-control" id="Hobbies" rows="3" placeholder="Hobbies" formControlName="hobbies"></textarea>
            </div>
            
            <div class="mb-3">
                <label for="genero">Genero</label>
                <select name="genero" class="form-select" id="genero" formControlName="genero">
                    <option [ngValue]="null" selected disabled>Seleccione una opcion...</option>
                    <option *ngFor="let option of generoEnum | keyvalue" [ngValue]="option.key">{{option.value}}</option>
                </select>
            </div>
            
            <h5>Elige etiquetas que representen tus gustos (elige al menos 1):</h5>
            <div *ngFor="let etiqueta of etiquetas">
                <div class="card mt-2 mb-2" style="max-width: 25%;">
                    <div class="form-check" formGroupName="etiquetasSeleccionadas">
                        <label class="form-check-label" for="flexCheckDefault">
                        {{etiqueta.nombre}}
                        </label>
                        <input class="form-check-input" type="checkbox" [value]="etiqueta.nombre" id="etiqueta-{{etiqueta.nombre}}" (change)="cambioEtiqueta($event)" formControlName="checkBox{{etiqueta.nombre}}">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">Registrar</button>
            </div>
            <hr>
            <p>Los campos obligatorios son indicados por <span style="color:#ff0000">*</span></p>
            
            <div class="alert alert-danger" *ngIf="mensajeError">
                A ocurrido un error.
            </div>
        </form>
    </div>
</div>

